@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: black;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes gradientSlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientSlow 8s ease infinite;
}

.animate-gradientSlow {
  animation: gradientSlow 18s ease infinite;
}


